@import '../../../assets/styleVariables.scss';

.SpacesList {
  &__search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;

    input {
      display: flex;
      align-items: center;
      border: none;
      border-radius: 5px;
      font-family: $primaryFont;
      font-size: 14px;
      background-color: $white;
      color: $black;
      margin-right: 10px;
    }

    &__text-input {
      padding: 0 10px 0 10px;
      height: 35px;
      width: 240px;
    }

    &__date-input {
      padding: 0 10px 0 10px;
      height: 35px;
      width: 150px;
    }

    &__availability-input {
      display: block;
      height: 35px;
      width: 100px;
      border: none;
      border-radius: 5px;
      font-family: $primaryFont;
      font-size: 14px;
      margin-right: 10px;
      padding: 8px 10px 5px 10px;
      box-sizing: content-box;
    }

    .search-btn {
      display: flex;
      justify-content: center;
      width: 100px;
      margin-top: 0;
    }
  }

  &__list {
    padding-left: 0;
  }
}

// MaterialUI DatePicker styling
.MuiTextField-root {
  margin-right: 10px !important;

  input {
    background-color: $white;
    color: $black;
    height: 23px;
    width: 120px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 !important;
  }
}

.MuiInput-underline {
  &:before, &:after {
    content: none !important;
  }
}

.MuiPaper-root {
  background-color: $darkGrey !important;
  margin-top: 10px;
}

.MuiPickersCalendarHeader-iconButton {
  background-color: transparent !important;
}

.MuiPickersBasePicker-pickerView {
  p, span, .MuiSvgIcon-root {
    font-family: $primaryFont;
  }

  .MuiPickersDay {
    &-current {
      p {
        font-family: $primaryFontBold;
        font-size: 15px;
      }
    }

    &-daySelected {
      background-color: $purple !important;
    }
  }
}
