@import '../../../assets/styleVariables.scss';

.DropdownMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 75px;
  right: 38px;
  height: 130px;
  width: 110px;
  z-index: 10;
  padding: 20px;
  border-radius: 5px;
  background-color: $darkGrey;

  &__user-info {
    font-size: 14px;

    p {
      margin: 0;
      margin-bottom: 3px;
    }

    &__sub-info {
      font-size: 11px;
    }
  }

  button {
    margin-bottom: 10px;
    font-family: $primaryFont;
    font-size: 14px;
    border: none;
    background: none;
    color: $white;
    display: flex;
    padding: 0;
    cursor: pointer;
  }
}
