@import '../../assets/styleVariables.scss';

.StartHome {
  &__container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $primaryFont;
    font-size: 14px;

    img {
        max-width: 220px;
        margin-bottom: 20px;
      }

    input {
      height: 25px;
      width: 220px;
      border: none;
      border-radius: 5px;
      margin-bottom: 10px;
      padding: 5px;
      font-family: $primaryFont;
      font-size: 12px;
    }

    button {
      height: 35px;
      width: 230px;
      margin-top: 10px;
      border-radius: 5px;
      background-color: $purple;
      border-color: transparent;
      cursor: pointer;
      font-family: $primaryFont;
      font-size: 12px;
      font-weight: bold;
      color: $white;
    }
  }
}
