@import './assets/styleVariables.scss';
@import './assets/styleUtils.scss';


// GENERAL --------------------------------------------------------------------
h1, h2, p, a, span, div {
  color: $white !important;
  font-family: $primaryFont;
}

a {
  text-decoration: none;
}


// BODY -----------------------------------------------------------------------
.body {
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: $primaryFont;
    margin-top: 50px;
    padding-bottom: 150px;
  }
}

.section-header {
  margin-left: 32px;
}


// COMMUNITY ------------------------------------------------------------------

.NewsList {
  &__container {

  }

  &__list {
    padding-left: 0;
  }
}

.NewsListItem {
  display: flex;
  flex-direction: row;
  height: 220px;
  width: 640px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 5px;

  &:hover {
		background-color: $darkGrey;
	}

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 270px;

    img {
      max-width: 270px;
      height: 220px;
      object-fit: cover;
    }

    span {
      position: absolute;
      align-self: flex-end;
      padding: 3px;
      font-size: 10px;
      width: 270px;
      margin: 0 0 5px 5px;
    }
  }

  &__content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__top-row {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .created-at {
        font-size: 12px;
        margin: 0;
      }
    }

    h2 {
      margin-bottom: 5px;
      margin-top: 0;
      font-size: 20px;
    }

    &__description {
      width: 100%;

      p {
        margin-top: 0;
        max-height: 58px;
        overflow: hidden;
      }
    }

    &__details {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      svg {
        width: 15px !important;
      }

      p {
        margin: 2px 0 0 8px;
        font-size: 12px;
      }
    }

    &__attendants {
      display: flex;
      padding-left: 10px;
      margin-top: 5px;

      img {
        border-radius: 50px;
        width: 25px;
        height: 25px;
        margin-left: -10px;
        object-fit: cover;
        box-shadow: -1px 0 3px $black;
      }
    }

    &__utilities {
      display: flex;
      align-items: center;
      font-size: 20px;
      margin-bottom: 20px;

      svg {
        margin-right: 10px;
      }
    }
  }
}

.NewsDetails {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__hero {
    position: relative;

    &__title-background {
      position: absolute;
      height: 500px;
      width: 100vw;
      background-color: $black;
      opacity: 0.5;
    }

    &__title {
      position: absolute;
      top: 200px;
      width: 100vw;
      text-align: center;
      font-size: 44px;
    }

    img {
      width: 100vw;
      height: 500px;
      object-fit: cover;
    }
  }

  &__content {
    width: 600px;

    h2 {
      margin-top: 30px;
      margin-bottom: 5px;
    }
  }

  &__timestamp {
    font-style: italic;
  }
}


// Space ----------------------------------------------------------------------
.SpacesList {
  &__search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;

    input {
      display: flex;
      align-items: center;
      border: none;
      border-radius: 5px;
      font-family: $primaryFont;
      font-size: 14px;
      background-color: $darkGrey;
      color: $white;
      margin-right: 10px;
    }

    &__text-input {
      padding: 0 10px 0 10px;
      height: 35px;
      width: 240px;
    }

    &__date-input {
      padding: 0 10px 0 10px;
      height: 35px;
      width: 150px;
    }

    &__availability-input {
      display: block;
      height: 35px;
      width: 100px;
      border: none;
      border-radius: 5px;
      font-family: $primaryFont;
      font-size: 14px;
      background-color: $darkGrey;
      color: $white;
      margin-right: 10px;
      padding: 8px 10px 5px 10px;
      box-sizing: content-box;
    }

    .search-btn {
      display: flex;
      justify-content: center;
      width: 100px;
      margin-top: 0;
    }
  }
}

// MaterialUI DatePicker styling
.MuiTextField-root {
  margin-right: 10px !important;

  input {
    height: 23px;
    width: 120px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 !important;
  }
}

.MuiInput-underline {
  &:before, &:after {
    content: none !important;
  }
}

.MuiPaper-root {
  background-color: $darkGrey !important;
  margin-top: 10px;
}

.MuiPickersCalendarHeader-iconButton {
  background-color: transparent !important;
}

.MuiPickersBasePicker-pickerView {
  p, span, .MuiSvgIcon-root {
    font-family: $primaryFont;
  }

  .MuiPickersDay {
    &-current {
      p {
        font-family: $primaryFontBold;
        font-size: 15px;
      }
    }

    &-daySelected {
      background-color: $purple !important;
    }
  }
}

// Global components ----------------------------------------------------------
.ContentSignature {
  &__container {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-top: 15px;
  }

  &__image {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    margin-left: 10px;
  }

  &__name {
    font-family: $primaryFontBold;
    font-size: 16px;
  }
}

.LoadingSpinner {
  &__container {
    height: 500px;
    display: flex;
    align-self: center;
    margin: 0 auto;
    align-items: center;

    svg {
      font-size: 50px;
      color: $yellow;
      animation: LoadingSpinner--spin infinite 3s linear;
      pointer-events: none;
    }
  }

  @keyframes LoadingSpinner--spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}


// Utility components ---------------------------------------------------------

.Tag {
  &__container {
    border-radius: 5px;
    padding: 3px;
    max-height: 12px;
    margin-left: 10px;

    &--event {
      background-color: $yellow;
    }

    &--collab {
      background-color: $purple;
    }

    &--news {
      background-color: $turqoise;
    }

    p {
      font-size: 12px;
      color: $black !important;
      margin: 0;
    }
  }
}



.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
