@import './assets/styleVariables.scss';
@import './assets/styleUtils.scss';


// GENERAL --------------------------------------------------------------------
h1, h2, p, a, span, div {
  color: $white !important;
  font-family: $primaryFont;
}

a {
  text-decoration: none;
}


// BODY -----------------------------------------------------------------------
.body {
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: $primaryFont;
    margin-top: 50px;
    padding-bottom: 150px;
  }
}

.section-header {
  margin-left: 32px;
}


// COMMUNITY ------------------------------------------------------------------

.NewsList {
  &__list {
    padding-left: 0;
  }
}

.NewsListItem {
  display: flex;
  flex-direction: row;
  height: 220px;
  width: 640px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 5px;

  &:hover {
		background-color: $darkGrey;
	}

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 270px;

    img {
      max-width: 270px;
      height: 220px;
      object-fit: cover;
    }

    span {
      position: absolute;
      align-self: flex-end;
      padding: 3px;
      font-size: 10px;
      width: 270px;
      margin: 0 0 5px 5px;
    }
  }

  &__content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__top-row {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .created-at {
        font-size: 12px;
        margin: 0;
      }
    }

    h2 {
      margin-bottom: 5px;
      margin-top: 0;
      font-size: 20px;
    }

    &__description {
      width: 100%;

      p {
        margin-top: 0;
        max-height: 58px;
        overflow: hidden;
      }
    }

    &__details {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      svg {
        width: 15px !important;
      }

      p {
        margin: 2px 0 0 8px;
        font-size: 12px;
      }
    }
  }
}

.NewsDetails {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__hero {
    position: relative;

    &__title-background {
      position: absolute;
      height: 500px;
      width: 100vw;
      background-color: $black;
      opacity: 0.5;
    }

    &__title {
      position: absolute;
      top: 200px;
      width: 100vw;
      text-align: center;
      font-size: 44px;
    }

    img {
      width: 100vw;
      height: 500px;
      object-fit: cover;
    }
  }

  &__content {
    width: 600px;

    h2 {
      margin-top: 30px;
      margin-bottom: 5px;
    }
  }

  &__timestamp {
    font-style: italic;
  }
}
